<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{navbarAccueil.html}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.css">
    <!---->
    <!--<script src="/webjars/jquery/3.6.4/jquery.min.js"></script>-->

    <title>Liste commentaires</title>
</head>
<body class="text-bg-secondary p-3">
<div layout:fragment="lecontenu">
    <br>
    <h4 th:text="${titre}"></h4>

    <table class="table mt-3">
        <tr><th>Numéro</th><th>Contenu</th><th>Date</th><th>Modéré</th></tr>
        <tr th:each="a:${listecommentaires}">
            <td th:text="${a.idCommentaire}"></td>
            <td th:text="${a.contenu}"></td>
            <td th:text="${#dates.format(a.date, 'dd-MM-yyyy')}"></td>
            <!--<td th:text="${a._public}"></td>
            <td th:text="${a.modere}"></td>-->

            <td><a th:href="@{/redact/affichecommentaire(idCommentaire=${a.idCommentaire})}">Afficher</a></td>
            <td><a th:href="@{/redact/editcommentaire(idCommentaire=${a.idCommentaire})}">Modifier</a></td>
            <td><a th:href="@{/redact/supprimecommentaire(idCommentaire=${a.idCommentaire},idArticle=${a.getArticle().getIdArticle()})}">Supprimer</a></td>
        </tr>
    </table>
</div>
</body>
</html>