<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{navbarAccueil.html}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.css">
    <!---->
    <!--<script src="/webjars/jquery/3.6.4/jquery.min.js"></script>-->

    <title>Liste articles</title>
</head>
<body class="text-bg-secondary p-3">
    <div layout:fragment="lecontenu">
        <br>
        <h4 th:text="${titrePage}"></h4>
    <table class="table mt-3">
    <thead>
        <tr><th>Titre</th><th>Contenu</th><th>Auteur</th><th>Date de publication</th></tr>
    </thead>
    <tbody>
        <tr th:each="a:${listeArticles}">
            <!--<td th:text="${a.idArticle}"></td>-->
            <td th:text="${a.titre}"></td>
            <td><input type="text" size="30" th:value="${a.contenu}"></td>
            <td th:text="${a.compte.getPseudo()}"></td>
            <td th:text="${#dates.format(a.date, 'dd-MM-yyyy')}"></td>

<!--            <td th:text="${a._public}"></td>
            <td th:text="${a.modere}"></td>-->
            <td  th:if="${#authentication.name.equalsIgnoreCase('anonymousUser')}">
                <a class="text-decoration-none text-info" th:href="@{/public/listecommentairesarticle(idArticle=${a.idArticle})}">Afficher</a></td>
            <td  th:if="${!#authentication.name.equalsIgnoreCase('anonymousUser')}">
                <a class="text-decoration-none text-info" th:href="@{/redact/listecommentairesarticle(idArticle=${a.idArticle})}">Afficher</a></td>
            <td th:if="${#authentication.name.equalsIgnoreCase(a.getCompte().getPseudo())}"><a class="text-decoration-none text-info" th:href="@{/redact/editArticle(idArticle=${a.idArticle})}">Modifier</a></td>
            <td th:if="${#authentication.name.equalsIgnoreCase(a.getCompte().getPseudo())}"><a class="text-decoration-none text-info" th:href="@{/redact/supprimearticle(idArticle=${a.idArticle})}">Supprimer</a></td>
        </tr>
    </tbody>
    </table>
</div>
</body>
</html>